.jumbotron {
    text-align: center;
    align-items: center;
}

#shortPanel {
    display: none;
}

#normalPanel {
    display: none;
}

#tallPanel {
    display: none;
}

ul {
    display: none;
    list-style: none;
}
